AlignConsecutiveMacros: true
AlignEscapedNewlines: true

AllowShortIfStatementsOnASingleLine: AllIfsAndElse

AlwaysBreakTemplateDeclarations: Yes

ColumnLimit: 0

BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
  BeforeCatch: true
  SplitEmptyFunction: false


BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: false

ConstructorInitializerAllOnOneLineOrOnePerLine: true # Doesn't want to work correctly
