BasedOnStyle: Google

AlignConsecutiveMacros: true
AlignEscapedNewlines: true

AlwaysBreakTemplateDeclarations: Yes

ColumnLimit: 0

BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
  BeforeCatch: true
  SplitEmptyFunction: false


BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: false

